name: Conversao Distancia CI-CD
on:
  push:
    branches: [ "main" ]
    paths: 
      - '01-conversao-distancia/**'
  workflow_dispatch:

jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - uses: actions/setup-python@v6
              with:
                python-version: '3.11' 
                
            - name: Install Dependencies
              working-directory: 01-conversao-distancia
              run: |
                python -m pip install --upgrade pip 
                pip install -r requirements.txt

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: ./01-conversao-distancia
                file: ./01-conversao-distancia/Dockerfile
                push: true
                tags: fabricioveronez/bootcamp-conversao-distancia:v${{ github.run_number }}

    CD:
        runs-on: ubuntu-latest
        needs: [CI]
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - name: Deploy to Kubernetes
              uses: ./.github/actions/k8s-deploy
              with:
                kubeconfig: ${{ secrets.KUBECONFIG }}
                manifest-path: 01-conversao-distancia/k8s/manifesto.yaml
                image-name: fabricioveronez/bootcamp-conversao-distancia
                image-tag: v${{ github.run_number }}