name: CI-CD
on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
jobs:
    CI:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - uses: actions/setup-python@v6
              with:
                python-version: '3.11' 
                
            - name: Install Dependencies
              working-directory: 02-encontros-tech
              run: |
                python -m pip install --upgrade pip 
                pip install -r requirements.txt
            
            - name: Testes
              working-directory: 02-encontros-tech
              run: python -m pytest tests/ -v  
                
            - run: echo "Executar o Docker Build"
            - run: echo "Enviar a Imagem Docker para o Docker Hub"

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ vars.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v6
              with:
                context: ./02-encontros-tech
                file: ./02-encontros-tech/Dockerfile
                push: true
                tags: gabrielcayres/bootcamp-encontros-tech:v${{ github.run_number }}

    CD:
        runs-on: ubuntu-latest
        needs: [CI]
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - name: Install doctl
              uses: digitalocean/action-doctl@v2
              with:
                token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
                
            - name: Set Kubernetes context
              uses: azure/k8s-set-context@v4
              with:
                method: kubeconfig
                kubeconfig: ${{ secrets.KUBECONFIG }}
                
            - name: Create Secret
              run: |
                kubectl create secret generic encontros-tech-secret \
                  --from-literal=database-url="${{ secrets.DATABASE_URL }}" \
                  --dry-run=client -o yaml | kubectl apply -f -
                  
            - name: Deploy to Kubernetes
              uses: ./.github/actions/k8s-deploy
              with:
                kubeconfig: ${{ secrets.KUBECONFIG }}
                manifest-path: 02-encontros-tech/k8s/manifests.yaml
                image-name: gabrielcayres/bootcamp-encontros-tech
                image-tag: v${{ github.run_number }}
